
    span#playerside{
      -webkit-user-select: none;
  }

  body {
    font-family: 'Courier New', Courier, monospace;
  }
  
  
td {
  width : 30px;
  height : 30px;
  text-align: center; 
}

#opponentgrid{
  position: relative;
  float: right;
  bottom: 400px;
  
}

#center{
  margin: auto;
  text-align: center;
}