span#playerside{
  -webkit-user-select: none;
}

body {
font-family: 'Courier New', Courier, monospace;
}

#center{
  text-align: center;
}
.hit{
  background: red;
}
.miss{
  background: lightblue;
}
td {
width : 30px;
height : 30px;
text-align: center; 
}

#playergrid{
position: relative;
bottom: 200px;
}

#opponentgrid{
position: relative;
float: right;
bottom: 600px;
}


#time::after{
content: "Time Elapsed:";
}

#statusbar::before{
content: "Status: ";
}

table{
margin: 5px;
}

main{
padding: 5px;
}

table{
border: cadetblue
}

button{
position: absolute;
bottom: 210px;
left: 20px;
}