
    span#playerside{
      -webkit-user-select: none;
  }

  body {
    font-family: 'Courier New', Courier, monospace;
  }
  
  
td {
  width : 30px;
  height : 30px;
  text-align: center; 
}

#playergrid{
  position: relative;
  bottom: 200px;
}

#opponentgrid{
  position: relative;
  float: right;
  bottom: 600px;
  
}

#center{
  margin: auto;
  text-align: center;
}

#opponentgrid td:hover { 
  background-color: yellow;
  animation-name: example;
  animation-duration: 1s;
}

#opponentgrid td:active { 
  background-color: green;
}

/* The animation code */
@keyframes example {
  from {background-color:yellow;}
  to {background-color:red;}
}


#time::after{
  content: "Time Elapsed:";
}

#statusbar::before{
  content: "Status:";
}

table{
  margin: 5px;
}

main{
  padding: 5px;
}

table{
  border: cadetblue
}

button{
  position: absolute;
  bottom: 210px;
  left: 20px;
}

