span#playerside{
  -webkit-user-select: none;
}

body {
font-family: 'Courier New', Courier, monospace;
}

#center{
  text-align: center;
}
.hit{
  animation-name: hitted;
  animation-duration: 4s;
  animation-fill-mode: forwards
}
.miss{
  animation-name: missed;
  animation-duration: 4s;
  animation-fill-mode: forwards
}

td {
width : 30px;
height : 30px;
text-align: center; 
}

.tile:hover{
  background-color: yellow;
}

#playergrid{
position: relative;
bottom: 200px;
}

#opponentgrid{
position: relative;
float: right;
bottom: 600px;
}


#statusbar::before{
content: "Status: ";
}

table{
margin: 5px;
}

main{
padding: 5px;
}

table{
border: cadetblue
}

button{
  position: relative;
bottom: 200px;
left: 10px;
}

button:active{
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}

@keyframes hitted {
  from {background-color: white;}
  to {background-color: red;}
}

@keyframes missed {
  from {background-color: white;}
  to {background-color: blue;}
}

#qwer{
  position: absolute;
}

#absolute{
  position: absolute;
}
