body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body:fullscreen{
  height: 110%;
  width: 110%;
}



a {
  color: #00B7FF;
}

@media only screen and (max-width:600px) {
  #status:after{
    content: "Resolution too small"
  }
}

