body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body:fullscreen{
  height: 110%;
  width: 110%;
}



a {
  color: #00B7FF;
}

@media only screen and (max-width:1100px) {
  #resolution:after{
    content: "Resolution too small";
    color: red;
    font: 20px;
    
    font-weight: bold;
  }
}
@media only screen and (max-height:650px) {
  #resolution:after{
    content: "Resolution too small";
    color: red;
    
    font-weight: bold;
    font: 20px;
  }
}

#absolute{
  position: absolute;
}
