body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
td {
  bgcolor : lightblue;
  width : 5px;
  height : 5px;
}

a {
  color: #00B7FF;
}

@media only screen and (max-width: 600px) {
  
}

