body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body:fullscreen{
  height: 110%;
  width: 110%;
}

td {
  width : 5px;
  height : 5px;
}

a {
  color: #00B7FF;
}

@media only screen and (max-width: 1000px) {
  #status {
    display: none;
  }
  #status::before{
    content: "Resolution too small"
  }
}

