body {
  padding: 50px;
  font: 14px 'Courier New', Courier, monospace;
}

body:fullscreen{
  height: 110%;
  width: 110%;
}



a {
  color: #00B7FF;
}

@media only screen and (max-width:600px) {
  #status:after{
    content: "RESOLUTION TOO SMALL"
  }
}

